:root {
  --dark-blue: #00425f;
  --light-blue: #00b8de;
  --red-pigment: #ee312a;
  --warm-blue: #e8f8ff;
  --yellow-red: #ffcb67;
  --black: #000000;
  --warm-grey: '#e8ecef';
  --blue-munsell: #008aa7;
  --orange-yellow: #ffd585;
  --cultured: #f6f8fa;
  --silver-chalice: #aeb1b3;
  --light-cultured: #f6f6f6;
  --prussian-blue: #003247;
  --light-coral: #f79a97;
  --midnight-green: #004857;
  --eton-blue: #87c09b;
  --sonic-silver: #6c757d;
  --bright-navy-blue: #0275d8;
  --light-sky-blue: #8dcdff;
  --charcoal: #354052;
  --bright-navy-blue: #1c7ed6;
  --flickr-blue: #0e64e5;
  --bg-white: #eff2f5;
  --seasalt: #F8F9FC
}
